{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}


    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<style type="text/css">
div.box {
  padding: 20px;
  margin: 20px;
}

</style>
<div class="card text-black" style="max-width: 18rem;  background-color: rgb(254,254,226);  margin-left: 520px;
">
<div class="box">
<h1 style="color: black">Sign Up</h1>
 {{ form_start(registrationForm) }}
<br>
        {{ form_row(registrationForm.email) }} 
 {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
     <div class="term"> {{ form_row(registrationForm.agreeTerms) }} </div><br>
         <button class="btn btn-lg btn-primary" type="submit">
       Register
    </button>
</div>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
