{% extends 'base.html.twig' %}

{% block title %}Fond index{% endblock %}

{% block body %}
<style type="text/css">
        body {
background-color: white;

}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1px;
}

.text-gray {
  color: #aaa;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}


}
    </style>
<div class="sidebar">
    <!-- Vertical navbar -->
    <div class="vertical-nav active " id="sidebar">
        <div class="py-4 px-3 mb-4 ">
            <div class="media-body">
                <h4 class="font-weight-black text-muted mb-0">Fond Index</h4>
            </div>
        </div>
        <div><p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Fonds</p>
                    
                    <a href="{{path('fond_new') }}"  class="nav-link font-italic">
                    <i class="fa fa-plus-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                        Create Fond
                    </a>
                    
        </div>
         <div><p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Dashboard</p>
                    
                    <a href="{{path('app_dashboard') }}"  class="nav-link font-italic">
                    <i class="fa fa-plus-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                        Dashboard
                    </a>
                    
        </div>
        <div><p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">deconnexion</p>
                    <a href="{{path('app_logout') }}"  class="nav-link font-italic">
                    <i class="fa fa-sign-out mr-3 text-primary fa-fw" aria-hidden="true"></i>
                        Logout
                    </a>
        </div>
        
                
    </div>
    </div>
<!-- End vertical navbar -->
<div class="box">
<div class="card text-black" style="max-width: 40rem;  margin-left: 300px; padding: 30px;">
    <h1>Fond index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount in Cash</th>
                <th>Amount in Coins</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fond in fonds %}
            <tr>
                <td>{{ fond.id }}</td>
                <td>{{ fond.name }}</td>
                <td>{{ fond.amountcash }}</td>
                <td>{{ fond.amountcoins }}</td>
                <td>{{ fond.date ? fond.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('fond_show', {'id': fond.id}) }}">show</a>
                    <a href="{{ path('fond_edit', {'id': fond.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fond_new') }}">Create new</a>
</div>
{% endblock %}
